.nyc_output/
node_modules/
artifacts/
.DS_Store
commit-description.txt

# Project artefacts
crosswords.css
dev/dist/

# VS Code artefacts
*.code-workspace
.vscode/

# Rebase artefacts
git-rebase-todo*
*.log
*.reflog

# VS Code CLI - enable remote tunnels
code
