{
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.js"],
            "options": {
                "singleQuote": false,
                "trailingComma": "all"
            }
        }
    ]
}