{
    "singleQuote": true,
    "overrides": [
        {
            "files": ["**/*.css", "**/*.scss", "**/*.html", "**/*.js"],
            "options": {
                "singleQuote": false
            }
        }
    ]
}