@import url('../style/cwdimensions.less');
@import url('../style/cwcolors.less');

.crossword-grid {
  @letter-weight: bold;

  display: grid;
  grid-template-rows: repeat(@row-count, @grid-cell-size);
  grid-template-columns: repeat(@column-count, @grid-cell-size);
  gap: @grid-line-size;
  padding: @grid-line-size;
  width: min-content;

  background-color: @grid-background-color;
  font-family: sans-serif;
  font-size: large;


  .cwcell {
    // .cwclue-label, .cwcell-revealed and .cwcell-incorrect
    // children use 'absolute' positioning, 'relative' to parent
    position: relative;
    aspect-ratio: 1;
    z-index: 0;
    // Grid display still required for correct layout of
    // .cwclue-label, .cwcell-revealed and .cwcell-incorrect
    display: grid;

    &.dark {
      background-color: @cell-background-dark-color;
    }

    &.light {
      background-color: @cell-background-light-color;
    }
  }

  input {
    text-align: center;
    font-size: @letter-size;
    color: @text-color;
    font-weight: @letter-weight;
    // Padding must be disabled
    padding: 0;
    // Border must be disabled
    border: none;
    //fix to bottom
    align-self: end;
    height: 100%;
    width: 100%;
    background-color: @cell-background-light-color;

    &.active {
      background-color: @clue-background-current-color;
    }

    &.highlighted {
      background-color: @cell-background-current-color;
    }
  }

  input:focus {
    outline-width: medium;
    outline-color: @focus-outline-color;
    outline-style: dotted;
    outline-offset: -2px;
    caret-color: transparent;
  }

  .cwclue-label {
    position: absolute;
    font-size: @label-size;
    color: @text-color;
    // click events need to pass through to input element
    pointer-events: none;
  }

  // right-triangle with side length @revealed-size
  // in bottom right corner
  .cwcell-revealed {
    // visibility: hidden;
    position: absolute;
    // right
    justify-self: end;
    // bottom
    align-self: end;
    // display a triangle base on border intersections
    border-left: @revealed-size solid transparent;
    border-bottom: @revealed-size solid @cell-revealed-color;
    // click events must pass through to input element
    pointer-events: none;
    opacity: 0.5;
    transition: visibility 0s linear 500ms, opacity 500ms;
  }

  // diagonal stripe bottom-left to top-right
  .cwcell-incorrect {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      135deg,
      transparent 47%,
      @cell-incorrect-color 47%,
      @cell-incorrect-color 53%,
      transparent 53%
    );
    // To avoid multiple instances
    background-repeat: no-repeat;
    // click events need to pass through to input element
    pointer-events: none;
    opacity: 0.5;
  }

  .cw-across-word-separator {
    box-shadow: inset -1px 0px 0px 0px @word-separator-color;
  }

  .cw-down-word-separator {
    box-shadow: inset 0px -1px 0px 0px @word-separator-color;
  }

  // A combination of separators on a single element
  .cw-across-word-separator + .cw-down-word-separator,
  .cw-down-word-separator + .cw-across-word-separator {
    box-shadow: inset -1px -1px 0px 0px @word-separator-color;
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 500ms, opacity 500ms;
  }
}

.crossword-clues {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;

  #crossword-across-clues,
  #crossword-down-clues {
    font-size: medium;
    font-weight: 600;
    padding: 10px 10px 0px 10px;

    .crossword-across-clue,
    .crossword-down-clue {
      font-size: small;
      font-weight: 100;
      padding: 3px;
    }
  }

  .clue-label {
    display: inline-block;
    width: @clue-label-width;
    vertical-align: top;
  }
  .clue-text {
    display: inline-block;
    max-width: @clue-text-width;
  }
  .current-clue-segment {
    background-color: @clue-background-current-color;
  }
}
