@import url('../style/cwdimensions.less');
@import url('../style/cwcolors.less');

@media screen and (max-width: 391px) {
  .crossword-grid {
    grid-template-rows: repeat(@row-count, @grid-cell-size-0);
    grid-template-columns: repeat(@column-count, @grid-cell-size-0);

    input {
      font-size: @letter-size-0;
    }

    .cwclue-label {
      font-size: @label-size-0;
    }

    .cwcell-revealed {
      border-left: @revealed-size-0 solid transparent;
      border-bottom: @revealed-size-0 solid @cell-revealed-color;
    }
  }

  .crossword-clues {
    .crossword-clue-text {
      max-width: @clue-text-width-0;
    }
  }
}

@media screen and (min-width: 392px) and (max-width: 555px) {
  .crossword-grid {
    grid-template-rows: repeat(@row-count, @grid-cell-size-1);
    grid-template-columns: repeat(@column-count, @grid-cell-size-1);

    input {
      font-size: @letter-size-1;
    }

    .cwclue-label {
      font-size: @label-size-1;
    }

    .cwcell-revealed {
      border-left: @revealed-size-1 solid transparent;
      border-bottom: @revealed-size-1 solid @cell-revealed-color;
    }
  }

  .crossword-clues {
    .crossword-clue-text {
      max-width: @clue-text-width-1;
    }
  }
}

@media screen and (min-width: 556px) {
  .crossword-grid {
    grid-template-rows: repeat(@row-count, @grid-cell-size-2);
    grid-template-columns: repeat(@column-count, @grid-cell-size-2);

    input {
      font-size: @letter-size-2;
    }

    .cwclue-label {
      font-size: @label-size-2;
    }

    .cwcell-revealed {
      border-left: @revealed-size-2 solid transparent;
      border-bottom: @revealed-size-2 solid @cell-revealed-color;
    }
  }

  .crossword-clues {
    .crossword-clue-text {
      max-width: @clue-text-width-2;
    }
  }
}

.crossword-grid {
  @letter-weight: bold;

  display: grid;
  gap: @grid-line-size;
  border-collapse: collapse;
  box-sizing: border-box;
  // border around outside of grid
  padding: @grid-line-size;
  width: min-content;

  background-color: @grid-background-color;
  color: @grid-text-color;
  font-family: sans-serif;
  font-size: x-large;

  .cwcell {
    // .cwclue-label, .cwcell-revealed and .cwcell-incorrect
    // children use 'absolute' positioning, 'relative' to parent
    position: relative;
    aspect-ratio: 1;
    z-index: 0;
    // Grid display still required for correct layout of
    // .cwclue-label, .cwcell-revealed and .cwcell-incorrect
    display: grid;

    &.dark {
      background-color: @cell-background-dark-color;
    }

    &.light {
      background-color: @cell-background-light-color;
    }
  }

  input {
    text-align: center;
    font-weight: @letter-weight;
    // Padding must be disabled
    padding: 0;
    // Border must be disabled
    border: 0;
    //fix to bottom
    align-self: end;
    height: 100%;
    width: 100%;
    background-color: @cell-background-light-color;

    &.active {
      background-color: @clue-background-current-color;
    }

    &.highlighted {
      background-color: @cell-background-current-color;
    }

    &:focus {
      outline-width: medium;
      outline-color: @focus-outline-color;
      outline-style: dotted;
      outline-offset: -2px;
      caret-color: transparent;
    }
  }

  .cwclue-label {
    margin: 1px 0px 0px 1px;
    position: absolute;
    // click events need to pass through to input element
    pointer-events: none;
  }

  // right-triangle with side length @revealed-size
  // in bottom right corner
  .cwcell-revealed {
    // visibility: hidden;
    position: absolute;
    // right
    justify-self: end;
    // bottom
    align-self: end;
    // display a triangle base on border intersections
    // click events must pass through to input element
    pointer-events: none;
  }

  // diagonal stripe bottom-left to top-right
  .cwcell-incorrect {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      135deg,
      transparent 47%,
      @cell-incorrect-color 47%,
      @cell-incorrect-color 53%,
      transparent 53%
    );
    // To avoid multiple instances
    background-repeat: no-repeat;
    // click events need to pass through to input element
    pointer-events: none;
    opacity: 0.5;
  }

  .cw-across-word-separator {
    box-shadow: inset -3px 0px 0px 0px @word-separator-color;
  }

  .cw-down-word-separator {
    box-shadow: inset 0px -3px 0px 0px @word-separator-color;
  }

  // Combinations of across and down separators on a single element
  .cw-across-word-separator + .cw-down-word-separator,
  .cw-down-word-separator + .cw-across-word-separator {
    box-shadow: inset -3px -3px 0px 0px @word-separator-color;
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0s linear 500ms,
      opacity 500ms;
  }
}

.crossword-clues {
  display: flex;
  flex-wrap: wrap;

  .crossword-clue-label {
    display: inline-block;
    width: @clue-label-width;
    vertical-align: top;
  }

  .crossword-clue-text {
    display: inline-block;
  }

  .current-clue-segment {
    background-color: @clue-background-current-color;
  }
}
