@dark-color: black;
@light-color: white;
@incorrect-color: red;
@revealed-color: lighten(purple, 15%);
@focus-outline-color: red;
@cell-current-color: #f7f469;
@clue-current-color: #04aa6d;

@grid-background-color: @dark-color;
@grid-line-color: @dark-color;
@grid-text-color: @dark-color;

@clue-background-current-color: @clue-current-color;
@cell-background-current-color: @cell-current-color;
@cell-background-dark-color: @dark-color;
@cell-background-light-color: @light-color;
@cell-incorrect-color: @incorrect-color;
@cell-revealed-color: @revealed-color;

@word-separator-color: @grid-line-color;
