.crosswords-js {
  --dark-color: black;
  --light-color: white;
  --incorrect-color: red;
  --revealed-color: lighten(purple, 15%);
  --focus-outline-color: red;
  --cell-current-color: #f7f469;
  --clue-current-color: #04aa6d;

  --grid-background-color: var(--dark-color);
  --grid-line-color: var(--dark-color);
  --grid-text-color: var(--dark-color);

  --clue-background-current-color: var(--clue-current-color);
  --cell-background-current-color: var(--cell-current-color);
  --cell-background-dark-color: var(--dark-color);
  --cell-background-light-color: var(--light-color);
  --cell-incorrect-color: var(--incorrect-color);
  --cell-revealed-color: var(--revealed-color);

  --word-separator-color: var(--grid-line-color);
}
