// Grid dimensions
@row-count: 15;
@column-count: 15;

//// Crossword grid sizes

@grid-line-size: 1px;

// Media query max-width 360
@grid-cell-size-0: 1.3rem;
@letter-size-0: 1.14rem;
@label-size-0: 0.4rem;
@revealed-size-0: 0.4rem;
@clue-text-width-0: 17rem;

// Media query min-width 361, max-width 499
@grid-cell-size-1: 1.5625rem;
@letter-size-1: 1.14rem;
@label-size-1: 0.4rem;
@revealed-size-1: 0.4rem;
@clue-text-width-1: 20rem;

// Media query min-width 500
@grid-cell-size-2: 2.25rem;
@letter-size-2: 1.7rem;
@label-size-2: 0.4em;
@revealed-size-2: 0.6rem;
@clue-text-width-2: 20rem;

//// Crossword clue sizes
@clue-label-width: 1.5rem;
