// Grid dimensions
@row-count: 15;
@column-count: 15;

// Crossword grid sizes
@grid-line-size: 1px;
@grid-cell-size: 1.5625rem;
@letter-size: 1.14rem;
@label-size: 0.4rem;
@revealed-size: 0.6rem;

// Crossword clue sizes
@clue-label-width: 1.5rem;
@clue-text-width: 20em;
