body {
    display: flexbox;
    flex-direction: row;
    background-color:grey;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px; /* the only pixels we will use, the rest will be in ems */
  }

  h1 {
    font-weight: 700;
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  .small {
    font-size: 0.9rem;
    color: #bebebe;
  }
  .selectedClue {
    background-color: #fff7b2;
    font-weight: bold;
  }

