h1 Crosswords.js
p. 
    Simple, fast, framework-free crosswords for the web.
    Find out more on 
    a(href="https://github.com/dwmkerr/crosswords-js") github.com/dwmkerr/crosswords-js

h3 #{title}

p.small 
    Original source: #{source}
    em Set by #{setterTitle}