<!DOCTYPE html>
<html lang="en" ng-app="sampleapp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Dave Kerr">
    <title>CrosswordJS Sample</title>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="vendor/angular/angular.js"></script>
    <script src="sampleapp.js"></script>

    <!-- Rock out some crosswords.js -->
    <link href="crosswords.css" rel="stylesheet">
    <script src="crosswords.js"></script>
    
    <style>
    body {
      padding-top: 50px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }
    .sample {
      padding: 40px 15px;
    }
    .selectedClue {
      font-weight: bold;
    }
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target="#mainNav" ng-controller="MainController">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Crosswords.js Samples</a>
        </div>
        <div id="mainNav" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://github.com/dwmkerr/crosswords-js">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <h3>{{info.title}}</h3>
      <h4>Set by {{info.setter.title}}</h4>
      <p>Originally from <a href="{{info.source}}">{{info.source}}</a>.</p>
      <table>
        <tr>
          <td width="50%"><div id="crossword1"></div></td>
          <td width="50%">{{currentClue.number}}. {{currentClue.clue}}</td>
        </tr>
        <tr>
          <td>
            <p><strong>Across</strong></p>
            <p><span ng-repeat="clue in acrossClues" ng-click="selectClue(clue)" ng-class="{selectedClue: isSelectedClue(clue)}">{{clue.number}}. {{clue.clue}} ({{clue.length.join(',')}})<br /></span></p>
          </td>
          <td>
            <p><strong>Down</strong></p>
            <p><span ng-repeat="clue in downClues" ng-click="selectClue(clue)" ng-class="{selectedClue: isSelectedClue(clue)}">{{clue.number}}. {{clue.clue}} ({{clue.length.join(',')}})<br /></span></p> 
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
