.crossword {

  --cell-border: #000000;
  --cell-dark-background: #000000;
  --cell-light-background: #ffffff;
  
  --clue-active-background: #b0b0b0;
  --cell-active-background: #f7f469;
  
  --word-separator: var(--cell-border); 

  display: inline-block;        

  .cwrow {

    display: flex;
    flex-direction: row;

    .cwcell {
      position: relative;

      // All cells are the same size.
      flex: 1;

      border-top: 1px solid var(--cell-border);
      border-left: 1px solid var(--cell-border);

      &.light {
        background: var(--cell-light-background);
        input:focus {
          caret-color: transparent;
          background: var(--cell-active-background);
        }      
      }

      &.dark {
        background: var(--cell-dark-background);
      }

      .cwcluelabel {
        position: absolute;
        font-size: 0.5em;
        width: 10px;
        height: 10px;
        left: 2px;
        top: 0px;
        z-index: 1;
      }

      .cw-across-terminator {
        position: absolute;
        font-size: 19px;
        font-weight: 'bold';
        width: 10px;
        height: 10px;
        right: -6px;
        top: 0px;
        z-index: 1;
      }

      .cw-down-terminator {
        position: absolute;
        transform-origin: top left;
        transform: rotate(-90deg);
        font-size: 19px;
        font-weight: 'bold';
        width: 10px;
        height: 10px;
        bottom: -14px;
        z-index: 1;
      }
 
      input { 
        font-family: sans-serif;
        font-variant: small-caps;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        border: none;
        height: 100%;
        width: 100%;

        &.active {
          background: var(--clue-active-background);
        }
      }
    }

    //  This CSS hack ensures our variable-width cells have the same height
    //  as their width - i.e. they stay square!
    .cwcell:after {
        content: "";
        float:left;
        display: block;
        padding-top: 100%;
    }

    .cwcell:last-child {
      border-right: 1px solid var(--cell-border);
    }

    .cw-across-word-separator {
      box-shadow: inset -2px 0px 0px 0px var(--word-separator);
    }

    .cw-down-word-separator {
      box-shadow: inset 0px -2px 0px 0px var(--word-separator);
    }

    &:last-child {
      .cwcell {
        border-bottom: 1px solid var(--cell-border);
      }
    }
  }

}
