.crossword {
  @cell-border: #000000;
  @cell-dark-background: #000000;
  @cell-light-background: #ffffff;

  @clue-active-background: #b0b0b0;
  @cell-active-background: #f7f469;

  @cell-revealed: green;
  @cell-incorrect: red;

  @word-separator: @cell-border;

  display: inline-block;

  .cwrow {
    display: flex;
    flex-direction: row;

    .cwcell {
      position: relative;

      // All cells are the same size.
      flex: 1;

      border-top: 1px solid @cell-border;
      border-left: 1px solid @cell-border;

      &.light {
        background: @cell-light-background;

        input:focus {
          caret-color: transparent;
          background: @cell-active-background;
        }
      }

      &.dark {
        background: @cell-dark-background;
      }

      .cwclue-label {
        position: absolute;
        font-size: 0.5em;
        width: 10px;
        height: 10px;
        left: 2px;
        top: 0px;
        z-index: 1;
      }

      .hidden {
        visibility: hidden;
        opacity: 0;
        // transition: visibility 0s linear 300ms, opacity 300ms;
      }

      // 0.5em right-triangle in bottom right corner
      .cwcell-revealed {
        // click events must pass through to input element
        pointer-events: none;
        position: absolute;
        z-index: 1;
        width: 0;
        height: 0;
        bottom: 0;
        right: 0;
        border-left: 0.5em solid transparent;
        border-bottom: 0.5em solid @cell-revealed;
      }

      // diagonal stripe bottom-left to top-right
      .cwcell-incorrect {
        // click events need to pass through to input element
        pointer-events: none;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        bottom: 0;
        background-image: linear-gradient(
          135deg,
          transparent 45%,
          @cell-incorrect 47%,
          @cell-incorrect 53%,
          transparent 53%
        );
        background-repeat: no-repeat;
        /* To avoid multiple instances */
      }

      .cw-across-terminator {
        position: absolute;
        font-size: 19px;
        font-weight: 'bold';
        width: 10px;
        height: 10px;
        right: -6px;
        top: 0px;
        z-index: 1;
      }

      .cw-down-terminator {
        position: absolute;
        transform-origin: top left;
        transform: rotate(-90deg);
        font-size: 19px;
        font-weight: 'bold';
        width: 10px;
        height: 10px;
        bottom: -14px;
        z-index: 1;
      }

      input {
        font-family: sans-serif;
        font-variant: small-caps;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        border: none;
        height: 100%;
        width: 100%;

        &.active {
          background: @clue-active-background;
        }
      }
    }

    //  This CSS hack ensures our variable-width cells have the same height
    //  as their width - i.e. they stay square!
    // .cwcell:after {
    //   content: '';
    //   float: left;
    //   display: block;
    //   padding-top: 100%;
    // }

    .cwcell:last-child {
      border-right: 1px solid @cell-border;
    }

    .cw-across-word-separator {
      box-shadow: inset -2px 0px 0px 0px @word-separator;
    }

    .cw-down-word-separator {
      box-shadow: inset 0px -2px 0px 0px @word-separator;
    }

    &:last-child {
      .cwcell {
        border-bottom: 1px solid @cell-border;
      }
    }
  }
}
